.section .section-third {
  border: 1px solid black;
  
}

.tab-inner {
}
.btn {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
/* 자식태그를 float주게되면 부모태그가 자식어디갔지 하면서 높이값을 잃게 된다. */
.btn li {
  float: left;
  border: 1px solid black;
  background-color: gray;
}
.btn li.active {
  background-color: white;
}
.tabs div {
  height: 200px;
  display: none;
}
.tabs div.active {
  display: block;
}
