.header {
  /* flex : 해당클래스의 요소들을 가운데정렬시킴 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
}

.header .header__title {
  display: flex;
  font-size: 24px;
}

.header .header__icon {
  font-size: 15px;
  margin-left: 20px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}
