/* header */
.innerHeader {
  max-width: 1720px;
  height: 110px;
  /* line-height : 줄 높이 정하는 속성 */
  line-height: 110px;
  margin: auto;
}
.innerHeader .logo {
  float: left;
}

.innerHeader .logo a {
  display: block;
  width: 100%;
  height: 100%;
}
/* group + login */
.innerHeader .mainMenu {
  float: right;
  overflow: hidden;
  position: relative;
}
nav {
  display: block;
}

span.bar {
  position: absolute;
  left: 0;
  top: 70px;
  width: 0;
  height: 3px;
  background-color: #e7e7e7;
  transition: all 0.4s;
}
.innerHeader .mainMenu .address {
  float: left;
  margin-left: 500px;
  font-size: 18px;
}
.innerHeader .mainMenu .address li {
  float: left;
  margin: 0 20px;
}
.innerHeader .mainMenu .address li a {
  display: block;
  width: 100%;
  height: 100%;
}
.innerHeader .mainMenu .gnb {
  float: left;
  margin-left: 380px;
}

.innerHeader .mainMenu .gnb li {
  float: left;
  margin: 0 20px;
}

.innerHeader .mainMenu .gnb li a {
  color: #555;
  display: block;
  width: 100%;
  height: 100%;
}

.innerHeader .mainMenu .gnb .fas {
  line-height: 95px;
  color: #555;
}
