/* section.visual */
section.visual {
  max-width: 1720px;
  margin: auto;
  overflow: hidden;
}

section.visual .mainImg {
  float: left;
  width: 50%;
}

section.visual .mainImg img {
  height: 80%;
  width: 98%;
}
section.visual .mainTxt {
  float: left;
  width: 50%;
  margin-top: 120px;
}
section.visual .mainTxt .txt {
  padding: 40px 0px 0px 40px;
}

section.visual .mainTxt .tit {
  font-size: 52px;
}
section.visual .mainTxt .tit span.en_s {
  margin-bottom: 10px;
}
section.visual .mainTxt .tit span b {
  margin-bottom: 10px;
}

.txt span.sub {
  color: #888;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.txt p {
  color: #888;
  font-weight: normal;
}

/* 로그인 후에 slider_coupon */
section.coupon {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 40px;
}
.tab-inner {
  border: 1px solid red;
  width: 90%;
  height: 350px;
  position: relative;
}
input[name="tabmenu"] {
  display: none;
}
.content {
  /* display: none; */
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.btn {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10px;
}
.btn label {
  background-color: lightgray;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}
section.coupon .tab-inner .content img {
  height: 100%;
  width: 100%;
}
input[id="tab1"]:checked ~ .slide1,
input[id="tab2"]:checked ~ .slide2,
input[id="tab3"]:checked ~ .slide3 {
  opacity: 1;
  visibility: visible;
}

input[id="tab1"]:checked ~ .btn label[for="tab1"],
input[id="tab2"]:checked ~ .btn label[for="tab2"],
input[id="tab3"]:checked ~ .btn label[for="tab3"] {
  background-color: crimson;
}

/* 로그인후 메뉴선택 슬라이드 */
section.foodOpen {
  position: relative;
}
/* 로그인후 메뉴선택 슬라이드 - 다음,이전 버튼  */
.prev,
.next {

  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  padding : 3px 0 0 
  margin-top: -22px;
  color: lightgray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 50;
  border-radius: 3px 0 0 3px;
}
.prev{
  left:50;
  border-radius: 3px 0 0 3px;
}
section.foodOpen .foodList {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 50px;
}
section.foodOpen .foodList .item .item-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

section.foodOpen .foodList .item {
  text-align: center;
  padding: 20px 20px;
}
